.container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5,200px);
    grid-template-rows: repeat(5,370px);
    grid-gap: 150px 60px;
}

div.goal1 {
    grid-column-start: 1;
    grid-column-end: 5;
    padding: 80px 60px 80px 60px;
    border: 1px solid #000000;
    border-radius: 100px;
    background-color: #000000;
    color: white;
    opacity: 0.8;
}

div.pilt{
    background: url(images/graph.png) center;
    grid-column-start: 5;
    grid-column-end: 7;
    border-radius: 1000px;
}

div.pilt2{
    background: url(images/communication-ikoon.jpg) center;
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 1000px;
}

div.goal2 {    
    grid-column-start:3;
    grid-column-end:7;
    padding: 80px 60px 80px 60px;
    border: 1px solid #000000;
    border-radius: 100px;
    background-color: #000000;
    color: white;
    opacity: 0.8;
}

div.goal3 {
    grid-column-start: 1;
    grid-column-end: 5;
    padding: 80px 60px 80px 60px;
    border: 1px solid #000000;
    border-radius: 100px;
    background-color: #000000;
    color: white;
    opacity: 0.8;
}   

div.pilt3{
    background: url(images/transparency.ikoon..jpg) center;
    grid-column-start: 5;
    grid-column-end: 7;
    border-radius: 1000px;
}

div.pilt4{
    background: url(images/documents-icon.jpg) center;
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 1000px;
}

div.goal4{
    grid-column-start:3;
    grid-column-end:7;
    padding: 80px 60px 80px 60px;
    border: 1px solid #000000;
    border-radius: 100px;
    background-color: #000000;
    color: white;
    opacity: 0.8;
}

div.goal5{
    grid-column-start: 1;
    grid-column-end: 5;
    padding: 80px 60px 80px 60px;
    border: 1px solid #000000;
    border-radius: 100px;
    background-color: #000000;
    color: white;
    opacity: 0.8;
}

div.pilt5{
    background: url(images/success-icon.jpg) center;
    grid-column-start: 5;
    grid-column-end: 7;
    border-radius: 1000px;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: url(images/construction-esimene.jpg) no-repeat center center fixed;
}

header.header {
    display: flex;
    flex-direction: row;
    padding: 10px 10px 10px 10px;
    margin: 10px;
    color: white;
}

nav.navbar {
    flex-grow: 1;
}

nav.navbar ul.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav.navbar ul.nav-links li {
    margin-left: 20px;
}   

h1{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 50px;
    font: bold;
    font-size: 70px;
    
}
