* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.background {
  width: 100%;
  height: 100vh;
  background-image: url("img/construction-esimene.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
  text-align: center;
}

#countdown {
  color: black;
  font-size: 48px; /* increased from 24px */
  font-weight: 600;
  margin-bottom: 30px;
  letter-spacing: 6px; /* adds spacing between numbers */
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}

h1 {
  font-weight: 600;
  font-size: 30px;
}

p {
  font-weight: 300;
  font-size: 100px;
}
