* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Josefin Sans", sans-serif;
}

.background {
  width: 100%;
  height: 100vh;
  background-image: url("img/construction-esimene.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
  text-align: center;
}

h1 {
    font-weight: bold;
  font-size: 30px;
  font-weight: 600;
}

p {
    font-weight: bold;
  font-size: 100px;
  font-weight: 300;
}
